.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundProfile {
    margin: 1% 0;
    width: 95%;
    height: 40vh;
    background: #ffffff;
    border-radius: 10px;
}

.backgroundProfile h1 {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 0;

}

.imgBackground img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.photoProfile {
    position: absolute;
    top: 280px;
    left: 100px;
}

.photoProfile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.infoProfile {
    width: 90%;
    height: 40vh;
    background: #ffffff;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}