body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
    background: linear-gradient(
    135deg,
    #0e1a10 0%,
    #0f2d19 35%,
    #0d4a1e 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}